html, body {
    height: 100%;
    margin: 0px;
}


.chatscreen {
    position: fixed;
    z-index: 3000;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
    background-color: white;
    -webkit-transition: left 0.3s,right 0.3s;
    transition: left 0.3s,right 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.back_button {
    position: absolute;
    top: 10px;
    right: 10px;
}
.chatbox {
    border: none;
    width: 100%;
    height: 100%;
}


.topbar {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 100%;
    height: 30px;
    opacity: 0;
    z-index: 2000;
    display: table;
    table-layout: fixed;
    border-spacing: 10px;
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.learn_more {
    color: white;
}
.left_panel {
    display: table-cell;
    vertical-align: center;
}
.center_panel {
    display: table-cell;
    vertical-align: center;
}
.right_panel {
    display: table-cell;
    vertical-align: center;
}


.parent_slick {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.slick-slide {
    border: 0;
}
.slick-vertical .slick-slide{
    border: 0;
}
.slick-list {
    height: 100%;
}
.slick-track {
    height: 100%;
}
.slick-prev {
    z-index: 1;
    left: 15px;
    height: 44px;
    width: 33px;

    background-image: url(../img/prev.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slick-prev:before {
    content: '';
}
.slick-next {
    z-index: 1;
    right: 15px;
    height: 44px;
    width: 33px;

    background-image: url(../img/next.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slick-next:before {
    content: '';
}
.slick-vertical .slick-prev{
    top: 40px;
    left: 50%;
    height: 34px;
    width: 44px;
    transform: translate(-50%, 0);

    background-image: url(../img/up.png);
}
.slick-vertical .slick-next{
    top: auto;
    bottom: 15px;
    left: 50%;
    height: 34px;
    width: 44px;
    transform: translate(-50%, 0);

    background-image: url(../img/down.png);
}
.slick-prev:hover, .slick-prev:focus {
    background-image: url(../img/prev.png);
}
.slick-next:hover, .slick-next:focus {
    background-image: url(../img/next.png);
}
.slick-vertical .slick-prev:hover {
    background-image: url(../img/up.png);
}
.slick-vertical .slick-prev:focus {
    background-image: url(../img/up.png);
}
.slick-vertical .slick-next:hover {
    background-image: url(../img/down.png);
}
.slick-vertical .slick-next:focus {
    background-image: url(../img/down.png);
}
.slick-disabled {
    display: none !important;
}


.video_view_content {
    height: 100%;
}
.intro_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play-icon {
    position: absolute;
    z-index: 2;

    width: 100px;
    height: 100px;

    background-image: url(../img/play-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    top: 50%;
    left: 12.5%;
    transform: translate(-50%, -50%);
}


.gallery_view_content {
    height: 100%;
}
.photo_view_content {
    height: 100%;
}
.gallery_photo {
    width: 100%;
    object-fit: cover;
}


.articles_view_content {
    overflow-y: auto;
    height: 100%;
}
.article_item {
    position: relative;
}
.article_item_image {
    width: 100%;
    object-fit: cover;
}
.article_item_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20%;
    background-color: rgba(0, 0, 0, 0.3);
}
.article_item_title {
    color: white;
    font-size: 20px;
}
.article_item_subtitle {
    color: white;
    font-size: 12px;
}


.article_view_content {
    height: 100%;
}
.article_page_view_content {
    position: relative;
}
.article_page_image {
    width: 100%;
    object-fit: cover;
}
.detail {
    position: absolute;
    height: 280px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 1);
}
.detail_title {
    font-size: 24px;
}
.detail_subtitle {
    font-size: 10px;
}
.detail_description {
    font-size: 18px;
}
